
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<app-header-pate4337 [pate4337Child]="PERpate4337"></app-header-pate4337>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="About"> 
    <app-pate4337-about 
      [pate4337Data]="PERpate4337" 
      [pate4337CountryData]="CTRYpate4337"> 
    </app-pate4337-about>  
  </mat-tab>
  <mat-tab label="Country">
    <app-pate4337-about 
      [pate4337Data]="PERpate4337" 
      [pate4337CountryData]="CTRYpate4337"> 
    </app-pate4337-about>  
  </mat-tab>
  <mat-tab label="Pics">
    <app-pate4337-pics 
      [personalData]="PERpate4337" 
      [countryData]="CTRYpate4337"> 
    </app-pate4337-pics> 
  </mat-tab>
</mat-tab-group>